<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Suppress adservices measurement bindings on emulators/unsupported environments -->
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID" tools:node="remove" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Google AdMob Application ID (Google Test ID: replace with your AdMob App ID) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- Prevent background measurement connection timeouts in emulator -->
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true" />
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />

        <!-- Configure AdServices Privacy Sandbox -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ad_services_config"
            tools:replace="android:resource" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Custom URI scheme deep links: qnashiksha://solution?id=... and ncert://... -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="qnashiksha" />
                <data android:scheme="ncert" />
            </intent-filter>

            <!-- HTTP/HTTPS App Links to shared solutions -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="ais-pre-fekhv3edhwq73nhnidpiys-648137748503.asia-southeast1.run.app" />
                <data android:scheme="https" android:host="ais-dev-fekhv3edhwq73nhnidpiys-648137748503.asia-southeast1.run.app" />
                <data android:scheme="https" android:host="qnashiksha.app" />
                <data android:scheme="https" android:host="qnashiksha.com" />
                <data android:scheme="http" android:host="qnashiksha.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>
